<?php
// config for magento
return [
    'services' => [
        'src'     => BP . '/src/',
        'Core'    => BP . '/Core/',
        'Phalcon' => BP . '/vendor/phalcon/incubator/Library/Phalcon/',
    ],
    'magento2' => [
        'url'       => 'https://your-magento-store.local/',
        'imgUrl'    => 'https://your-magento-store.local/rest/pub/media/catalog/product',
        'mediaUrl'  => 'https://your-magento-store.local/rest/pub/media',
        'assetPath' => '/../var/magento2-sample-data/pub/media',
    ],
    'magentoApi' => [
        'url'               => 'https://your-magento-store.local/rest',
        'iv_salt'           => 'digits-for-iv-salt',
        'objHashSecret'     => 'objHashSecret',
        'authHashSecret'    => 'authHashSecret',

        'consumerKey'       => 'your-integrations-consumer-public-key',
        'consumerSecret'    => 'your-integrations-consumer-secret-key',

        'accessToken'       => 'your-integrations-access-public-token',
        'accessTokenSecret' => 'your-integrations-access-secret-token',
    ],
    // Service cache for this service (application)
    'cacheService' => [
        'type'    => 'redis',
        'options' => [
            'host'              => 'redis-host',
            'port'              => 'redis-port',
            'index'             => 1,
            'lifetime'          => lifetime,
            'persistent'        => false,
            'serializer'        => null,
            'defaultSerializer' => 'Php',
        ],
    ],
    // System cache for Phalcon
    'cacheSystem' => [
        'type'    => 'redis',
        'options' => [
            'host'              => 'redis-host',
            'port'              => 'redis-port',
            'index'             => 1,
            'lifetime'          => lifetime,
            'persistent'        => false,
            'serializer'        => null,
            'defaultSerializer' => 'Php',
        ],
    ],
    'msi' => [
        'enabled'        => true,
        'defaultStockId' => 1
    ],
    'storeViews' => [
        'storeId'    => 26,
        'multistore' => false,
    ],
    'cart' => [
        'setConfigurableProductOptions' => false
    ],
    'elasticsearch' => [
        'port'           => 'elasticsearch-port',
        'index'          => 'elasticsearch-index', // ex: vue_storefront_catalog
        'host'           => 'elasticsearch-host',
        'protocol'       => 'http',
        'min_score'      => 0.01,
        'requestTimeout' => 5000,
        'indices'        => ['vue_storefront_catalog'],

        'indexTypes' => [
            'review',
            'product',
            'taxrule',
            'category',
            'cms_page',
            'cms_block',
            'attribute',
            'embed_social_review',
            'config',
            'landing',
        ],

        'apiVersion' => '7.1'
    ],
    // config data for Url Module
    // ...
    // ...
];
